<% if current_user %>
<h1>New Game</h1>
 
 <div class="row">
   <div class="col-md-8">
     <%= form_for @game do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter game title" %>
       </div>
       <div class="form-group">
         <%= f.label :description %>
         <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter game description" %>
       </div>
       <div class="form-group">
         <%= f.label :content %>
         <%= f.text_area :content, rows: 8, class: 'form-control', placeholder: "the body of your HTML content" %>
       </div>
       <div class="form-group">
         <%= f.label :style %>
         <%= f.text_area :style, rows: 8, class: 'form-control', placeholder: "Enter game styles" %>
       </div>
       <div class="form-group">
         <%= f.label :javascript %>
         <%= f.text_area :javascript, rows: 8, class: 'form-control', placeholder: "Enter Javascript code" %>
       </div>
       <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
     <br>
   </div>
 </div>
 <% else %>
 <h1>You need to sign in.</h1>
 <% end %>