<%= set_game(@game) %>
<h1><%= @game.title %>
 <% if authorized_game_edit(@game) %>
 - <%= link_to "Edit Game", edit_game_path, class: 'btn btn-success' %>
 <%= link_to "Delete Game", @Game, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Game?' } %>
 </h1>
 <% else %>
  </h1>
  <small>by: <%= User.find(@game.user_id).username %></small>
  <br>
 <% end %>
</h1>
<br>
 <div class="row">
   <div class="col-md-8">
     <p class="lead"><%= @game.description %></p>
     <p class="lead"><%= @game.url %></p>
     
   </div>
 </div>
     <%= link_to "Play this game", welcome_play_path, class: 'btn btn-success' %>
     <% findReviews(@game).each do |review| %>
      <div class="media">
       <div class="media-body">
        <h3><%= review.title %></h2>
        <h4 class="media-heading"><%= review.body %></h4>
        <small>Rating: <%= review.rating %> - Reviewed by: <%= review.author %></small>
        <br><br> 
       </div>
      </div>
     <% end %>
     <% if current_user %>
      <% if authorized_reviewer(@game) %>
       <%= render 'reviews/form', review: Review.new, game: @game %><br><br>
      <% end %>
     <% end %>