<% if current_user %>
<h1>New Review</h1>
 
 <div class="row">
   <div class="col-md-8">
     <%= form_for @review do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter review title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Write your review" %>
       </div>
       <div class="form-group">
         <%= f.label :rating %>
         <%= f.number_field :rating, class: 'form-control', placeholder: 5 %>
       </div>
       <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
 <% else %>
 <h1>You need to sign in.</h1>
 <% end %>